<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>AyurGlow</h3>
      <p>Your trusted source for premium anti-aging Ayurvedic products.</p>
    </div>

    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Shop</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contact</h4>
      <p>Email: ayurglowproduct&#64;gmail.com</p>
      <p>Phone: +91 88668 99285</p>
      <p>Address: Ravet, Pune, India</p>
    </div>


    <div class="footer-section">
      <h4>FSSAI Approved</h4>
      <img src="assets/img/fssai-logo.png" alt="FSSAI Logo" style="max-width:120px; height:auto;">
      <p>Ref. No. XXXXXXXXXXXXXXXXX </p>
    </div>
  </div>


  <div class="footer-bottom">
    <p>&copy; 2025 AyurGlow. All rights reserved.</p>
  </div>
</footer>